global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: node
    static_configs:
      - targets:
      {% for target in prometheus__node_targets %}
        - '{{ target }}:9100'
      {% endfor %}

{% if prometheus__http_targets is defined %}
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for target in prometheus__http_targets %}
        - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115
{% endif %}

{% if prometheus__dot_targets is defined %}
  - job_name: 'dot_blackbox'
    metrics_path: /probe
    params:
      module: [dns]
    static_configs:
      - targets:
{% for target in prometheus__dot_targets %}
        - {{ target }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115
{% endif %}

{% if prometheus__postgres_targets is defined %}
  - job_name: 'postgres'
    static_configs:
      - targets:
{% for target in prometheus__postgres_targets %}
        - '{{ target }}:9187'
{% endfor %}
{% endif %}

{% if prometheus__synapse_target is defined %}
  - job_name: 'synapse'
    metrics_path: '/_synapse/metrics'
    static_configs:
      - targets: ['{{ prometheus__synapse_target }}:9666']
{% endif %}

{% if prometheus__apcupsd_target is defined %}
  - job_name: 'apcupsd'
    static_configs:
      - targets: ['{{ prometheus__apcupsd_target }}:9162']
{% endif %}

{% if prometheus__dht_target is defined %}
  - job_name: 'dht_environment'
    metrics_path: '/'
    static_configs:
      - targets: ['{{ prometheus__dht_target }}:9222']
{% endif %}
