pid_file: "/var/run/matrix-synapse.pid"

allow_public_rooms_without_auth: false

allow_public_rooms_over_federation: false

listeners:
  - port: {{ synapse__port }}
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: [{{"'" + (synapse__bind_addresses)|join("', ") + "'"}}]
    resources:
      - names: [client, federation]
        compress: true

  - port: {{ synapse__metrics_port }}
    type: metrics
    bind_addresses: [{{"'" + (synapse__metrics_bind_addresses)|join("', '") + "'"}}]

user_ips_max_age: "{{ synapse__user_ips_max_age }}"

database:
  name: "psycopg2"
  args:
    user: "{{ synapse__database_user }}"
    database: "{{ synapse__database }}"
    password: "{{ synapse__database_password }}"
    host: "{{ synapse__database_host }}"
    cp_min: 5
    cp_max: 10

log_config: "/etc/matrix-synapse/log.yaml"

media_store_path: "/var/lib/matrix-synapse/media"
media_retention:
  remote_media_lifetime: "{{ synapse__remote_media_lifetime }}"

uploads_path: "/var/lib/matrix-synapse/uploads"

max_upload_size: "{{ synapse__max_upload_size }}"

dynamic_thumbnails: false

enable_registration: {{ synapse__enable_registration }}

enable_3pid_lookup: {{ synapse__enable_3pid_lookup }}

allow_guest_access: false

enable_metrics: true

signing_key_path: "/etc/matrix-synapse/homeserver.signing.key"

trusted_key_servers:
  - server_name: "matrix.org"

password_config:
   enabled: true

use_presence: {{ synapse__enable_presence }}

allow_device_name_lookup_over_federation: {{ synapse__enable_device_name_over_federation }}

public_baseurl: "{{ synapse__public_base_url }}"

caches:
  global_factor: {{ synapse__cache_global_factor | default(1.0) }}
  {% if synapse__cache_factors is defined %}
per_cache_factors:
  {% for cache_factor in synapse__cache_factors %}
    {{ cache_factor }}
  {% endfor %}
  {% endif %}

report_stats: {{ synapse__enable_phonehome_stats }}

registration_requires_token: {{ synapse__token_registration }}

enable_authenticated_media: {{ synapse__authenticated_media }}
