global
    log /dev/log	local0
    log /dev/log	local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-GCM-SHA384:AES128-SHA256:AES128-SHA:AES256-SHA256:AES256-SHA:!MD5:!aNULL:!DH:!RC4
    ssl-default-bind-options no-sslv3

defaults
    log	global
    mode	http
    option	httplog
    option	dontlognull
    option forwardfor
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend prosody_muc
    bind {{ prosody__public_ip }}:5269
    mode tcp
    default_backend prosody_muc

backend prosody_muc
    mode tcp
    server prosody_muc {{ prosody__private_ip }}:5269

frontend eighty
    bind *:80
    mode http
    redirect scheme https if !{ ssl_fc }

frontend ssl
    bind *:443 ssl crt-list /etc/haproxy/crt-list.cfg
    mode http
    http-response set-header Strict-Transport-Security max-age=16000000;\ includeSubDomains;\ preload
    http-request set-header X-Forwarded-Proto https if { ssl_fc }

    use_backend local if { url_beg /.well-known }
    use_backend plothopes if { hdr(host) -i plothopes.com -i www.plothopes.com }
    use_backend f.erethon.com if { hdr(host) -i f.erethon.com }
    use_backend grafana.erethon.com if { hdr(host) -i grafana.erethon.com }
    use_backend static if { hdr(host) -i capitalism.erethon.com -i hacked.erethon.com -i erethon.com -i www.erethon.com -i blog.erethon.com -i about.erethon.com -i git.erethon.com }

backend plothopes
    mode http
    server plothopes {{ plothopes__private_ip }}:{{ plothopes__port }} 

backend f.erethon.com
    mode http
    server f.erethon.com {{ files__private_ip }}:{{ files__port }} 

backend grafana.erethon.com
    mode http
    server grafana.erethon.com {{ grafana__private_ip }}:{{ grafana__port }} 

backend static
    mode http
    server webd {{ static__private_ip }}:80

backend local
    mode http
    server local 127.0.0.1:8080
