[Interface]
Address = {{ wireguard__host_ip }}
PrivateKey = {{ _wireguard__private_key }}
{% if wireguard__listen_port is defined %}
ListenPort = {{ wireguard__listen_port }}
{% endif %}

{% if wireguard__group_peers is defined %}
{% for peer in wireguard__group_peers %}
[Peer]
{% if peer.public_key is defined %}
PublicKey = {{ peer.public_key }}
{% endif %}
{% if peer.public_key_host is defined %}
PublicKey = {{ lookup("password", secret + "/wireguard/" + peer.public_key_host + "/keys/publickey") }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.keepalive is defined %}
PersistentKeepalive = {{ peer.keepalive }}
{% endif %}
{% endfor %}
{% endif %}

{% if wireguard__host_peers is defined %}
{% for peer in wireguard__host_peers %}
[Peer]
{% if peer.public_key is defined %}
PublicKey = {{ peer.public_key }}
{% endif %}
{% if peer.public_key_host is defined %}
PublicKey = {{ lookup("password", secret + "/wireguard/" + peer.public_key_host + "/keys/publickey") }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.keepalive is defined %}
PersistentKeepalive = {{ peer.keepalive }}
{% endif %}
{% endfor %}
{% endif %}
