[meta]
  dir = "/var/lib/influxdb/meta"

[data]
  dir = "/var/lib/influxdb/data"
  engine = "tsm1"
  wal-dir = "/var/lib/influxdb/wal"

[[collectd]]
  enabled = true
  bind-address = "0.0.0.0:25826"
  database = "{{ influxdb__collectd_db }}"
  retention-policy = ""
  batch-size = 5000
  batch-pending = 10
  batch-timeout = "10s"
  read-buffer = 0
  typesdb = "/etc/influxdb/collectd_types.db"
  security-level = "none"

